<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Referenced to Class Notes on Camera Permissions -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GPS Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Justin_Yan_MyRuns5"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">

        <service android:name=".TrackingService"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <!--This is to show main activity at start-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".ManualInputActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".MapDisplayActivity"
            android:exported="true"
            android:label="Map"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".EntryDetails"
            android:exported="true"
            android:label="MyRuns5"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".MapDetails"
            android:exported="true"
            android:label="MyRuns5"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.justin_yan_myruns5"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>